<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="jumbotron text-center mechtech-green">
    <div class="container">
        <h1>StuffWilSays</h1>
        <h3>Posts from the Mech Tech GOD Himself</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="intro"></div>
    </div>
    <div class="row">
        <div class="col  m-0 p-0">
            <h2>Post List</h2>
            <hr>
            <div id="postList" class="d-flex flex-row flex-wrap m-0 p-0">
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>
</body>

</html>